header {
  grid-area: header;
  display: flex;
  height: 100px;
  width: 100%;
  border-bottom: solid #0a3641 1px;
  background-color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.logo-1440 {
  margin-top: -25px;
  margin-left: 30px;
}

nav ul li {
  display: inline-block;
  font-size: 1.5rem;
  font-family: "montserrat", sans-serif;
  padding: 20px;
}
li a {
  text-decoration: none;
  color: black;
  padding-bottom: 34px;
}

li a:hover {
  border-bottom: solid #0a3641 2px;
}

li a.active-page {
  border-bottom: solid #0a3641 2px;
}

.profile__icon,
.cart__icon {
  width: 30px;
  padding: 10px;
}

.fa-bars {
  display: none;
  color: white;
}

.menu-list,
.menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1440px) {
  .logo-991,
  .logo-767 {
    display: none;
  }
}

@media (max-width: 991px) {
  .header {
    width: 100%;
    height: 50px;
  }
  .logo-1440,
  .logo-767 {
    display: none;
  }

  .logo-991 {
    display: block;
    margin-top: -20px;
  }

  nav,
  ul,
  .cart__icon,
  .profile__icon {
    display: none;
  }

  .fa-bars {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    margin-right: 20px;
  }

  .menu-list,
  .menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  @media (max-width: 767px) {
    .logo-1440,
    .logo-991 {
      display: none;
    }

    .logo-767 {
      display: block;
      margin-top: -15px;
    }

    header {
      height: 50px;
    }

    nav,
    ul,
    .cart__icon,
    .profile__icon {
      display: none;
    }

    .fa-bars {
      font-size: 1.5rem;
    }
  }
}
