* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 1920px;
  height: 556px;
  object-fit: cover;
}

ol,
ul {
  list-style: none;
}

#navMenu {
  margin: none;
  width: 523px;
  height: 37px;
  font-family: proxima nova;
  font-size: 30px;
}

#navMenu li {
  display: flex;
  flex-direction: row;
  width: auto;
  float: left;
  margin-left: 40px;
}

#navMenu a {
  display: block;
  padding: 20px;
  text-decoration: none;
  background-color: #ffffff;
}
#navMenu li,
a {
  color: black;
}
